
snack-bar-container.custom-success {
    background: #8BB8A8;
  }
  
.custom-success .mat-simple-snackbar {
    color: white;
}

snack-bar-container.custom-warn {
background: #8f1010;
}
  
.custom-warn .mat-simple-snackbar {
color: white;
}